<div class="sandwich-option">
    <img src="{{sandwich.image_link}}" style="width:500px;height:350px;" alt="Top rated sandwich">
    <div class="text-container">
        <p>{{sandwich.name}}</p>
        <ul>
            <li>{{sandwich.meat}}</li>
            <li>{{sandwich.condiment}}</li>
            <li>{{sandwich.vegetable}}</li>
            <li>{{sandwich.bread}}</li>
            <li>{{sandwich.cheese}}</li>
            <li>{{sandwich.other}}</li>
        </ul>
    </div>
</div>