<div class="sandwich-option">
    <img src="{{image_link}}" alt="{{name}}">
    <div class="text-container">
        <p>{{name}} ({{user.username}})</p>
        <ul>
            <li>{{meat}}</li>
            <li>{{condiment}}</li>
            <li>{{vegetable}}</li>
            <li>{{bread}}</li>
            <li>{{cheese}}</li>
            <li>{{other}}</li>
        </ul>
    </div>
</div>