{{#each sandwichRating as | sandwich |}}
<div class="sandwich">
    <a href="/sandwich/{{sandwich.id}}">
        <h2>{{sandwich.name}}</h2>
        <p class="rate-text">Average Rating: {{format_rating sandwich.avgRating}}</p><br>
    </a>
    {{#if (deq ../raterId sandwich.user_id)}}
    <div class="rating">
        <div class="rating-container">
            <p class="rate-text">Rate me!</p>
            {{#if (gte userRating 1)}}
            <span class="star active" data-value="1" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{else}}
            <span class="star" data-value="1" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{/if}}
            {{#if (gte userRating 2)}}
            <span class="star active" data-value="2" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{else}}
            <span class="star" data-value="2" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{/if}}
            {{#if (gte userRating 3)}}
            <span class="star active" data-value="3" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{else}}
            <span class="star" data-value="3" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{/if}}
            {{#if (gte userRating 4)}}
            <span class="star active" data-value="4" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{else}}
            <span class="star" data-value="4" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{/if}}
            {{#if (gte userRating 5)}}
            <span class="star active" data-value="5" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{else}}
            <span class="star" data-value="5" data-rater="{{../raterId}}" data-id="{{id}}">&#9733;</span>
            {{/if}}
        </div>
    </div>
    {{/if}}
    <a href="/sandwich/{{sandwich.id}}">
        <img src="{{sandwich.image_link}}" alt="{{sandwich.name}}">
    </a>
</div>
{{/each}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/stars.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="../js/animate.js"></script>