<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{message}}</h1>
   <img src="{{sandwich.image_link}}">
  {{sandwich.name}}
  {{sandwich.bread}}
  {{sandwich.condiment}}
  {{sandwich.meat}}
  {{sandwich.vegetable}}
  {{sandwich.cheese}}
  {{sandwich.other}}
  
</body>

</html>