
<div class = "sandwich-container">
    <h1>{{message}}</h1>
    <img src="{{sandwich.image_link}}" class="sandwich-img">
    <p stlye="font-size: 24px;">{{sandwich.name}}</p>
    {{sandwich.bread}}
    {{sandwich.condiment}}
    {{sandwich.meat}}
    {{sandwich.vegetable}}
    {{sandwich.cheese}}
    {{sandwich.other}}
</div>

