
<div class = "sandwich-container">
    <h1>{{message}}</h1>
    <img src="{{sandwich.image_link}}" class="sandwich-img">
    <p stlye="font-size: 24px;">{{sandwich.name}}</p>
    <li>{{sandwich.bread}}</li>
    <li>{{sandwich.condiment}}</li>
    <li>{{sandwich.meat}}</li>
    <li>{{sandwich.vegetable}}</li>
    <li>{{sandwich.cheese}}</li>
    <li>{{sandwich.other}}</li>
</div>

