<div class="form-container">
    <form class="container" id="update-sandwich-form" data-id="{{sandwichId}}">
        <h1>Update Sandwich</h1>
        {{#each fields as |field|}}
        <label for="{{field.name}}">{{field.label}}</label>
        <input type="text" id="{{field.name}}" name="{{field.name}}" data-id="{{../userId}}" value="{{field.value}}"{{field.required}}>
        {{/each}}

        <button id="submit" type="submit">Update Sandwich</button>
    </form>
</div>

<script src="/js/updateSandwich.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="../js/animate.js"></script>